In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
data = pd.read_csv('tennis.csv')
data

   outlook;temp;humidity;windy;play
0           sunny;hot;high;FALSE;no
1            sunny;hot;high;TRUE;no
2       overcast;hot;high;FALSE;yes
3        rainy;mild ;high;FALSE;yes
4       rainy;cool;normal;FALSE;yes
5         rainy;cool;normal;TRUE;no
6     overcast;cool;normal;TRUE;yes
7         sunny;mild ;high;FALSE;no
8       sunny;cool;normal;FALSE;yes
9      rainy;mild ;normal;FALSE;yes
10      sunny;mild ;normal;TRUE;yes
11     overcast;mild ;high;TRUE;yes
12    overcast;hot;normal;FALSE;yes
13         rainy;mild ;high;TRUE;no

In [14]:
data.reset_index(drop=True)

   outlook;temp;humidity;windy;play
0           sunny;hot;high;FALSE;no
1            sunny;hot;high;TRUE;no
2       overcast;hot;high;FALSE;yes
3        rainy;mild ;high;FALSE;yes
4       rainy;cool;normal;FALSE;yes
5         rainy;cool;normal;TRUE;no
6     overcast;cool;normal;TRUE;yes
7         sunny;mild ;high;FALSE;no
8       sunny;cool;normal;FALSE;yes
9      rainy;mild ;normal;FALSE;yes
10      sunny;mild ;normal;TRUE;yes
11     overcast;mild ;high;TRUE;yes
12    overcast;hot;normal;FALSE;yes
13         rainy;mild ;high;TRUE;no

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 1 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   outlook;temp;humidity;windy;play  14 non-null     object
dtypes: object(1)
memory usage: 244.0+ bytes

In [16]:
data.describe()

       outlook;temp;humidity;windy;play
count                                14
unique                               14
top             sunny;hot;high;FALSE;no
freq                                  1

In [24]:
print(data['play'].unique())

KeyError: 'play'

In [18]:
from sklearn.preprocessing import LabelEncoder
for col in ['outlook', 'temp', 'humidity', 'windy', 'play']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    data
    print (data['outlook'], data['temp'], data['humidity'], data['windy'], data['play'])

NameError: name 'data' is not defined

In [19]:
data.info()

NameError: name 'data' is not defined

In [20]:
data

NameError: name 'data' is not defined

In [54]:
# data x dan y nya
x = data.drop('play', axis = 1)
y = data['play']

KeyError: "['play'] not found in axis"

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=0)

In [31]:
print (x_train)

NameError: name 'x_train' is not defined

In [32]:
print (y_train)

NameError: name 'y_train' is not defined

In [33]:
print (x_test)

NameError: name 'x_test' is not defined

In [34]:
print (y_test)

NameError: name 'y_test' is not defined

In [35]:
from sklearn.naive_bayes import GaussianNB
model_Nb = GaussianNB()
model_Nb = model_Nb.fit(x_train, y_train)

ModuleNotFoundError: No module named 'sklearn'

In [36]:
predict = model_Nb.predict(x_test)

NameError: name 'model_Nb' is not defined

In [37]:
from sklearn.metrics import accuracy_score
print ("Akurasi scorenya sebesar : ", accuracy_score(y_test, predict)*215)

ModuleNotFoundError: No module named 'sklearn'

In [38]:
x_baru = ([[0,2,1,0]])

In [39]:
prediksi_baru = model_Nb.predict(x_baru)
print (prediksi_baru)

NameError: name 'model_Nb' is not defined

In [40]:
from sklearn.tree import DecisionTreeClassifier
model_DT = DecisionTreeClassifier(max_depth=3)
model_DT.fit(x_train, y_train)

ModuleNotFoundError: No module named 'sklearn'

In [41]:
predict_DT = model_DT.predict(x_test)

NameError: name 'model_DT' is not defined

In [42]:
from sklearn.metrics import accuracy_score
print ("Akurasi scorenya sebesar : ", accuracy_score(y_test, predict_DT)*430)

ModuleNotFoundError: No module named 'sklearn'

In [43]:
x_baru_DT = ([[0,2,1,0]])

In [44]:
prediksi_baru_DT = model_DT.predict(x_baru_DT)
print (prediksi_baru_DT)

NameError: name 'model_DT' is not defined

In [45]:
from sklearn.tree import plot_tree

plt.subplots(figsize=(12,10))
plot_tree (model_DT, fontsize = 10)
plt.show()

ModuleNotFoundError: No module named 'sklearn'

In [50]:
data = pd.read_csv('iris.csv')
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [47]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 1)

ModuleNotFoundError: No module named 'sklearn'

In [48]:
knn.fit(x_train, y_train)

NameError: name 'knn' is not defined

In [49]:
print ("Akurasi scorenya sebesar : {}".format(knn.score(x_test, y_test)*450))

NameError: name 'knn' is not defined